header {
    padding: 30px;
    background-color: purple;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    background-color: white;
    font-family: cursive;
}

p {
    color: purple;
}

.link {
    margin-top: 30px;
    margin-left: 20px;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    background-color: purple;
    color: white;
}

.link2 {
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: purple;
    color: white;
}

.link a {
    text-decoration: none;
    margin-left: 15px;
    margin-top: 15px;
}

.link:hover {
    box-shadow: -3px 3px 20px #222;
}

.instructions {
    margin-right: 200px;
    margin-left: 50px;
}

iframe {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin: auto;
  border-style: solid;
}
